In [7]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}
df = pd.DataFrame(data)

# Example indices from a bar chart (zero-based)
selected_indices = [1, 3]  # These are the rows selected, starting from 0

# Extract rows corresponding to the selected indices
selected_rows = df.iloc[selected_indices]

# Display the selected rows
print("Selected Rows:")
selected_rows

Selected Rows:

    Name  Age         City
1    Bob   30  Los Angeles
3  David   40      Houston